<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content=
        "width=device-width, initial-scale=1.0">
    <link href="css/landing_page.css" rel="stylesheet" />
    <title>2025 JHMC</title>
</head>

<body>
    <nav>
        <div class="heading">IMSA JHMC</div>
        <img src="img/jhmc-logo.png" alt="Description">
        <span class="sideMenuButton" 
            onclick="openNavbar()">
            &#9776
        </span>

        </div>
    </nav>


    <!-- Content -->
    <div class="line" id="Home">
        <div class="side1">
            <h1>2025 Junior High Math Contest</h1>
            <button>
                <a href=
"https://www.geeksforgeeks.org/">
                    Explore More
                </a>
            </button>
        </div>

    </div>

    <section class="about" id="My Projects">
        <div class="content">
            <div class="title">
                <span>Resources</span>
            </div>
            <div class="boxes">
                <div class="box">
                    <div class="topic">
                        <a href="https://imsajhmc.com/" target="_blank">
                            Home
                        </a>
                    </div>
                    <p>
                        Click here to find more information on the rules, past tests,and our team.
                    </p>
                </div>
                <div class="box">

                    <div class="topic">
                        <a href="" target="_blank">
                            Problem Generator
                        </a>
                    </div>
                    <p>
                        Click to view our online problem generator to help hone math skills.
                    </p>
                </div>

                <div class="box">
                    <div class="topic">
                        <a href="" target="_blank">
                            Textbook
                        </a>
                    </div>
                    <p>
                        Click to view our online textbook to explore new concepts and ideas in contest math.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="contact" id="contact">
        <div class="content">
            <div class="title"><span>Discover</span></div>
                <div class="input3">
                    <div class="rightside1">
                        <img src="img/juggle.jpg" alt="Emblem Link" style="width:500px;height:500px;">
                    </div>
                    
                    <div class="rightside1">
                        Click on the icon to discover concepts in Algebra, Geometry, Probability, and Number Theory
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    <!-- Footer section -->
    <footer>
        <div class="footer">
            <span>
                IMSA JHMC 
            </span>
        </div>
    </footer>
    <script src="index.js"></script>
</body>

</html>